* {
  box-sizing: border-box;
}

main {
  background-image: url('./images/animated-gifs-of-fighting-game-backgrounds-50.gif');
  background-size: cover;
  background-color: grey;
  margin: 0 auto;
  width: 950px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

header {
  margin: 20px auto 0;
  background-color: white;
  border: 3px solid black;
  padding: 20px;
  clear: both;
}

.score, .highScore {
  background-color: rgba(76,9,9,0.8);
  border: 3px solid black;
  color: white;
  padding: 20px 20px;
  width: 200px;
  text-align: left;
  /*margin: 20px;*/
  margin: 20px 0px 0px 20px;;
  /*margin-top: 20px;*/
  font-family: 'Shojumaru', cursive;
  font-size: 14px;
}

.highScore {
  display: block;
  /*margin-bottom: 20px;*/
}

.score {
  float: left;
  display: inline-block;
}

.score p span {
  color: green;
}

.instructions {
  background-color: rgba(76,9,9,0.8);
  border: 3px solid black;
  margin: 20px;
  padding: 10px;
  color: white;
  float: right;
}

.instructions img {
  width: 20px;
}

button {
  background-color: #009898;
  height: 100px;
  width: 250px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Shojumaru', cursive;
  margin: 40px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  /*left: 13%;*/
}

button:hover {
  background-color: white;
  border: 2px solid #009898;
  color: #4C0000;
}
.CB{
  margin: 0 auto;
  width: 40%;
}

li {
  font-size: 13px;
  padding: 4px;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: 'Shojumaru', cursive;
  font-size: 50px;
  color: #4C0000;
}

h2 {
  font-family: 'Shojumaru', cursive;
  font-size: 14 px;
}

.arena {
  width: 880px;
  height: 152px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}

.pathTop, .pathMid, .pathBot {
  height: 30px;
  width: 940px;
  margin-top: 20px;
  margin-left: -30px;
}

.character {
  width: 150px;
  background-image: url('./images/karate_char_stand.png');
  background-size: cover;
  position: absolute;
  right: 375px;
}

.character div {
  height: 50px;
  /*border: 1px solid red;*/
}

.bombRight {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  /*background-color: white;*/
  background-image: url('./images/computer-8-bit-graphic-bomb-icon.png');
  background-size: cover;
  position: absolute;
  right: 0;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.bombLeft {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background-image: url('/Users/Jason/Development/WDI_PROJECT_1/images/computer-8-bit-graphic-bomb-icon.png');
  background-size: cover;
  position: absolute;
  left: 0;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.keyboard {
  width: 40px;
  margin-top: 5px;
}
#up_key1 {
  float: left;
}

#up_key2 {
  float: right;
}

#left_key {
  float: left;
}

#right_key {
  float: right;
}

#down_key1 {
  float: left;
}

#down_key2 {
  float: right;
}

.overlay {
  width: 950px;
  height: 600px;
  margin: 0 auto;
  background-color: rgba(76,9,9,0.8);
  z-index: 0;
  display: none;
  position: absolute;
  top: 0;
}
